.neu{
    border-radius: 40px;
    box-shadow: inset 0 0 10px rgba($color: #000000, $alpha: 0.42);
}

.neuOut{
    // background-color: rgba($color: #fff, $alpha: 0.05);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.42);
}